/*-- DrLeonardo Design for GravitLauncher --*/

/* Backgrounds */

#loginPane,
#serverPaneLayout {
    -fx-background-color: transparent;
}

#password,
#login {
    -fx-background-radius: 0;
    /* ********************* */
    -fx-font-family: Open Sans;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-line-height: 19px;
    -fx-letter-spacing: 0.25px;
    -fx-text-indent: 20px;
    -fx-color: #2C2C2C;

}

#otherWelcome {
    -fx-font-family: Open Sans;
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-size: 14px;
    -fx-line-height: 19px;
    -fx-text-align: center;
    -fx-letter-spacing: 0.25px;
}

#webAuth {
    -fx-font-family: Open Sans;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-line-height: 16px;
    -fx-text-align: center;
    -fx-text-fill: #FFFFFF;
    -fx-letter-spacing: 0.25px;
    -fx-background-color: #09BC6A;
    -fx-background-radius: 5px;
}

#playerName {
    -fx-font-family: Open Sans;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-line-height: 33px;
    -fx-align-items: center;
    -fx-letter-spacing: 0.25px;
    -fx-text-indent: 10px;
}
#welcome {
    -fx-font-family: Open Sans;
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-line-height: 16px;
    -fx-align-items: center;
    -fx-letter-spacing: 0.25px;
}

#goAuth {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
}

#logo {
    -fx-fill: #323232;
}

#auth_on:hover,
#auth_on:pressed {
    -fx-effect: dropshadow( three-pass-box, rgba(0, 0, 0, 0.6), 8, 0.0, 0, 0);
}

#savePassword,
#autoenter {
    -fx-font-size: 8pt;
    -fx-background-image: url('../../images/icons/checkbox_off.png');
    -fx-text-fill: #5E5E5E;
}
#savePassword:selected,
#autoenter:selected {
    -fx-background-image: url('../../images/icons/checkbox_on.png');
}

#authRadio {
    -fx-background-image: url('../../images/icons/checkbox_off.png');
    -fx-text-fill: #5E5E5E;
}

#authRadio:selected {
    -fx-background-image: url('../../images/icons/checkbox_on.png');
}

#forgotPass {
    -fx-font-family: Open Sans;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 9px;
    -fx-line-height: 12px;
    -fx-align-items: center;
    -fx-text-align: right;
    -fx-letter-spacing: 0.25px;
}

#forgotPass:hover,
#forgotPass:pressed {
    -fx-text-fill: #606060;
    -fx-cursor: hand;
}

#createAccount {
    -fx-font-size: 9pt;
    -fx-text-fill: #09BC6A;
    -fx-font-family: Open Sans;
    -fx-font-size: 9px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: 12px;
    -fx-letter-spacing: 0.25px;
    -fx-text-align: left;
}

#textLogin {
    -fx-font-size: 10pt;
    -fx-text-fill: #fff;
}

#createAccount:hover,
#createAccount:pressed {
    -fx-text-fill: #FFC700;
    -fx-cursor: hand;
}

#authButton {
    -fx-font-family: Open Sans;
    -fx-font-size: 24px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: 28px;
    -fx-letter-spacing: 0.25px;
    -fx-text-align: center;
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
}

#authList {
    -fx-background-color: rgba(224, 224, 224, 0.28);
    -fx-background-radius: 20px;
}
/*-- DrLeonardo Design for GravitLauncher --*/
