/*-- DrLeonardo Design for GravitLauncher --*/

#settingsBackground {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url('../../images/servermenu.png');
}

#settingsPane {
    -fx-background-color: transparent;
}

#settingsPane>#settingslist {
    -fx-background-color: transparent;
}

#settingsPane>#settingslist>.viewport {
    -fx-background-color: transparent;
}

#headingSettings {
    -fx-fill: #323232;
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
}

#settingsItem {
    -fx-background-color: transparent;
}

#dirLabel {
    -fx-background-color: #eee;
}

#ramLabel {
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: #323232;
}

#textLabel {
    -fx-font-size: 15px;
    -fx-text-fill: #323232;
}


/* RAM slider */

.ramtext {
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 14px;
    -fx-background-color: #323232
}

#ramInfo,
#patch {
    -fx-font-smoothing-type: lcd;
    -fx-font-size: 16px;
    -fx-text-fill: #323232;
}

#ramSlider>.track {
    -fx-background-color: linear-gradient(from 50% 50% to 100% 100%, #09BC6A, #6B36FF);
    -fx-pref-height: 4px;
}

#ramSlider>.thumb {
    -fx-background-image: url("../../images/icons/thumb.png");
    -fx-pref-width: 14px;
    -fx-pref-height: 14px;
}

#ramSlider>.colored-track {
    -fx-background-color: #7C4DFF;
    -fx-pref-height: 4px;
}

#ramSlider>.animated-thumb {
    -fx-background-color: transparent;
}

#ramSlider>.slider-value {
    -fx-fill: white;
    -fx-stroke: white;
}


/* Dir options */

#changeDir {
    -fx-font-family: Open Sans;
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-size: 10px;
    -fx-line-height: 14px;
    -fx-letter-spacing: 0.25px;
    -fx-text-fill: #A4B3BA;
    -fx-background-color: transparent;
}
#folder {
    -fx-background-color: #fff;
    -fx-background-radius: 5px;
}

#console {
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-font-size: 13pt;
}

#console:hover,
#console:pressed {
    -fx-background-color: rgba(254, 254, 255, 0.1);
}

#lang {
    -fx-background-position: center;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

#lang:hover {
    -fx-opacity: 0.8;
}


/*-- DrLeonardo Design for GravitLauncher --*/
