/*-- DrLeonardo styles refactor --*/

@import "../../styles/global.css";
@import "../../styles/variables.css";

/*-- Вывод данных --*/
#settings-detail {
    -fx-background-color: -fx-grayTr;
    -fx-background-radius: 20px;
}

/* RAM настройки */
#ramLabel {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: -fx-black2C;
}
#ramSlider > .track {
    -fx-background-color: -fx-ramGR;
    -fx-pref-height: 4px;
}
#ramSlider > .thumb {
    -fx-background-image: url("../../images/icons/thumb.png");
    -fx-pref-width: 14px;
    -fx-pref-height: 14px;
}
#ramSlider > .colored-track {
    -fx-background-color: -fx-violet-hover;
    -fx-pref-height: 4px;
}
#ramSlider > .animated-thumb {
    -fx-background-color: transparent;
}
#ramSlider > .slider-value {
    -fx-fill: -fx-white;
    -fx-stroke: -fx-white;
}
.ramtext {
    -fx-font-size: 14px;
    -fx-background-color: -fx-grayD;
}
#ramInfo {
    -fx-font-size: 16px;
    -fx-text-fill: -fx-grayD;
}

/*-- Чекбоксы --*/
.settings-container {
    -fx-background-color: transparent;
    -fx-padding: 15 0 0 15px;
}
.settings-checkbox {
    -fx-fill: -fx-black2C;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.settings-label {
    -fx-fill: -fx-black2C;
    -fx-font-size: 12px;
    -fx-label-padding: 0 20 0 30px;
}

/* Смена директорий */
#folder {
    -fx-background-color: -fx-gray;
    -fx-background-radius: 0 0 20 20;
    -fx-cursor: hand;
}
#patch {
    -fx-font-size: 14px;
    -fx-fill: -fx-grayD;
}
#patch:visited {
    -fx-font-size: 14px;
    -fx-fill: -fx-header;
}
#changeDir {
    -fx-font-weight: bold;
    -fx-font-size: 10px;
    -fx-text-fill: -fx-header;
    -fx-background-color: transparent;
}
#changeDir:hover,
#changeDir:pressed {
    -fx-text-fill: -fx-header-hover;
}


/* Описание Java */
#javaError {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-fill: -fx-red;
    -fx-text-fill: -fx-red;
}
#javaSelect {
    -fx-background-color: -fx-grayLTr;
}
#javaSelect > #javaHeader {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-fill: -fx-black2C;
}
#javaSelect > .javaDesc {
    -fx-fill: -fx-black2C;
    -fx-font-size: 12px;
}
#javaSelect > #javaPath {
    -fx-font-size: 10px;
    -fx-fill: -fx-grayD;
}

/*-- DrLeonardo styles refactor --*/
