/*-- DrLeonardo Design for GravitLauncher --*/

Button,
CheckBox,
ComboBox,
RadioButton {
    -fx-cursor: hand;
}

#serverImage {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url('images/servers/imageExample.png');
}

.whiteBox {
    -fx-background-color: #ffffff;
}

.check-box {
    -fx-background-color: transparent;
    -fx-text-fill: #606060;
    -fx-background-image: url('images/icons/checkbox_off.png');
    -fx-background-repeat: no-repeat;
    -fx-label-padding: 0 0 0 10px;
    -fx-padding: 0 0 0 0px;
    -fx-font-family: Open Sans;
    -fx-font-size: 10px;
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-line-height: 14px;
    -fx-letter-spacing: 0.25px;
    -fx-text-align: left;
}

.check-box .mark {
    -fx-background-color: transparent;
}

.check-box .box {
    -fx-background-color: transparent;
}

.check-box:selected {
    -fx-background-color: transparent;
    -fx-background-image: url('images/icons/checkbox_on.png');
    -fx-background-repeat: no-repeat;
}

.check-box:selected .mark {
    -fx-background-color: transparent;
}

.check-box:selected .box {
    -fx-background-color: transparent;
}

.text-input {
    -fx-font-family: Open Sans;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-line-height: 19px;
    -fx-text-fill: #000000;
    -fx-align-items: center;
    -fx-letter-spacing: 0.25px;
    -fx-text-indent: 20px;
    -fx-text-box-border: transparent;
    -fx-background-color: transparent;
}

.logoText {
    -fx-font-family: Open Sans;
    -fx-font-size: 10px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: 14px;
    -fx-letter-spacing: 0.25px;
    -fx-text-align: center;
    -fx-fill: rgba(53, 53, 53, 0.38);
}
.logoTextBlack {
    -fx-fill: #000000;
}

.InputError {
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-text-fill: #AB2727;
}


/* Scrolls */

#scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane .content {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: transparent;
}

.increment-button,
.decrement-button,
.increment-arrow,
.decrement-arrow {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.19);
    -fx-background-radius: 0;
}

.scroll-bar {
    -fx-font-size: 6px;
}

.scroll-pane>.corner {
    -fx-background-color: rgba(0, 0, 0, 0.19);
}

.choice-box .context-menu {
    -fx-background-color: #fff;
    -fx-pref-width: 137px;
}

.choice-box .menu-item:focused {
    -fx-background-color: #7C4DFF;
}

.choice-box .menu-item>.label {
    -fx-text-fill: #323232;
}

.choice-box .menu-item:focused>.label {
    -fx-text-fill: #fff;
}

.choice-box {
    -fx-background-color: #fff;
    -fx-mark-color: #fff;
}

.choice-box>.label {
    -fx-text-fill: white;
}

.icon-button {
    -fx-background-position: center;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.icon-button:hover {
    -fx-opacity: 0.8;
}

#version {
    -fx-text-fill: #939394;
    -fx-font-size: 10pt;
}

.optContainer {
    -fx-background-color: transparent;
    -fx-padding: 10 10 10 10px;
}

.optDescription {
    -fx-fill: #323232;
    -fx-font-weight: 400;
    -fx-font-size: 16px;
    -fx-pref-width: 720px;
}

.optCheckbox {
    -fx-label-padding: 0 0 0 5px;
    -fx-padding: 3 0 0 0px;
    -fx-pref-width: 750px;
}

#icons {
    -fx-fill: #323232;
}


/*-- DrLeonardo Design for GravitLauncher --*/


/*-- JCat Fixes --*/

.hyperlink:focused {
    -fx-border-width: 0;
}


/*-- End JCat Fixes --*/
