/*-- Информация сервера --*/
#serverDescription {
    -fx-font-style: normal;
    -fx-font-weight: normal;
    -fx-font-size: 14px;
    -fx-text-fill: -fx-black2C;
}
/*-- Фон сервера --*/
#serverImage {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url('../../images/servers/imageExample.png');
}
/*-- DrLeonardo styles refactor --*/