/* 
FluffyCuteOwO#6745 - DarkenGravitLauncherRuntime
*/

@import "./variables.css";

@font-face {
    font-family: 'Manrope Bold';
    src: url('./Manrope-Bold.ttf');
}
@font-face {
    font-family: 'Manrope ExtraBold';
    src: url('./Manrope-ExtraBold.ttf');
}
@font-face {
    font-family: 'Manrope ExtraLight';
    src: url('./Manrope-ExtraLight.ttf');
}
@font-face {
    font-family: 'Manrope Light';
    src: url('./Manrope-Light.ttf');
}
@font-face {
    font-family: 'Manrope Medium';
    src: url('./Manrope-Medium.ttf');
}
@font-face {
    font-family: 'Manrope Regular';
    src: url('./Manrope-Regular.ttf');
}
@font-face {
    font-family: 'Manrope SemiBold';
    src: url('./Manrope-SemiBold.ttf');
}
@font-face {
    font-family: 'Minecraft Ten';
    src: url('./Minecraft.ttf');
}

#authtxt{
    -fx-font-family: "Minecraft Ten";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 18px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 0px, 0px, 0px, 2px);
}
#layout {
    -fx-background-color: #181A1B;
    -fx-background-radius: 8px;
}
#logo, #logobutton{
    -fx-background-image: url('../images/components/global/logo.png');
    -fx-background-size: cover;
}
#title{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Manrope Bold";
    -fx-font-size: 14px;
}
#leftpane{
    -fx-background-color: #1C1E20;
    -fx-background-radius: 8 0 0 8;
}
.authActivepassw{
    -fx-background-image: url('../images/components/global/buttonmc.png');
}
.authActivepassw:hover{
    -fx-background-image: url('../images/components/global/buttonmchover.png');
}
.wow{
    -fx-background-color: rgba(255,255,255,0.0)
}
.buttonunactive{
    -fx-background-radius: 0px;
    -fx-background-color: #1C1E20;
}
.buttonunactive:hover{
    -fx-background-color: #282828;
}
#buttonunactivetext{
    -fx-text-fill: #99999A;
    -fx-font-family: "Manrope Bold";
    -fx-font-size: 14px;
}
#buttonunactivetext:hover{
    -fx-text-fill: #FFFFFF;
}
#logouttext{
    -fx-text-fill: #D84343;
    -fx-font-family: "Manrope Bold";
    -fx-font-size: 14px;
}
#logouttext:hover{
    -fx-text-fill: #E04B4B;
}
#nickname{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Manrope Bold";
    -fx-font-size: 14px;
}
#back, #savesettings, #cancel, #kill{
    -fx-background-color: #1C1E20;
    -fx-background-radius: 4px;
    -fx-border-color: #282828;
    -fx-border-radius: 4px;
}
#textexit{
    -fx-font-size: 12px;
    -fx-font-family: "Manrope Medium";
    -fx-text-fill: #FFFFFF;
}
#back:hover, #savesettings:hover, #cancel:hover, #kill:hover, .check-box:hover{
    -fx-background-color: #222222;
}
#serverspane{
    -fx-background-color: #282828;
}
#serverspanetxtactive{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Manrope Bold";
    -fx-font-size: 14px;
}
.check-box {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-font-family: "Manrope Bold";
    -fx-background-color: #1C1E20;
    -fx-background-radius: 4px;
    /* -fx-padding: 6 0 4 1; */
    -fx-background-size: 20 20;
    -fx-background-position: 16 20;
    -fx-background-image: url('../images/icons/checkbox1_off.png');
    -fx-background-repeat: no-repeat;
    -fx-label-padding: 0 0 0 35;
    -fx-alignment: center-left;
    /* -fx-text-align: left; */
}
.maintext{
    -fx-text-fill: #ffffff;
    -fx-label-padding: 14 0 0 35;
    -fx-alignment: center-left;
}
.descriptiontext {
    -fx-text-fill: #99999A;
    -fx-font-size: 12px;
    -fx-font-family: "Manrope Regular";
    -fx-label-padding: 32 0 0 35;
    -fx-alignment: center-left;
}
.combo-box .list-cell {
    -fx-text-fill: #99999A;
}
.combo-box-popup .list-view{
    -fx-background-color: #1C1E20;
    -fx-background-radius: 4px;
    -fx-border-color: #282828;
    -fx-border-radius: 4px;
}
.combo-box-popup .list-view .list-cell{
    -fx-text-fill: #99999A;
    -fx-padding: 8;
    -fx-background-color: #1C1E20;
    -fx-background-radius: 4px;
}
.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
    -fx-background-color: #282828;
    -fx-text-fill: #99999A;
}
.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: #282828;
    -fx-text-fill: #FFFFFF;
}
.combo-box .arrow-button{
    /* -fx-background-image: url('../images/icons/checkbox_arrow_button.png');*/
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-position: center center;
    -fx-background-size: 50% 20%;
}
.combo-box-popup .list-cell {
    -fx-background-color: #ff0000;
    -fx-text-fill: #ff0000;
}
.combo-box .arrow{
    -fx-background-color: transparent;
}
.root {
    -fx-font-family: "Manrope Medium";
}
.check-box .mark {
    -fx-background-color: transparent;
}
.check-box .box {
    -fx-background-color: transparent;
}
.check-box:selected {
    -fx-background-color: transparent;
    -fx-background-image: url('../images/icons/checkbox1_on.png');
    -fx-background-repeat: no-repeat;
}
.check-box:selected .mark {
    -fx-background-color: transparent;
}
.check-box:selected .box {
    -fx-background-color: transparent;
}

































Button,
CheckBox,
ComboBox,
RadioButton {
    -fx-cursor: hand;
}

/*-- Шрифты --*/

/*-- Вид блоков --*/
.blocks {
    -fx-padding: 10px;
    -fx-background-color: -fx-white;
    -fx-background-radius: 0;
}

/*-- Скругление блоков и кнопок --*/
.b-5 {
    -fx-border-radius: 5px;
}
.b-10 {
    -fx-border-radius: 10px;
}
.b-20 {
    -fx-border-radius: 20px;
}

/*-- Управление прозрачностью --*/
.transparent {
    -fx-background-color: transparent;
    -fx-background-size: cover;
}

/*-- Импорт фона --*/

/* .blur {
    -fx-background-image: url('../images/background-blur.png') !important;
    -fx-background-size: cover;
} */

/* (тех. Кнопки) */
.invisible{
    -fx-opacity: 0;
}
.visible{
    -fx-opacity: 1;
}

/*-- Иконки --*/
.header-button {
    -fx-fill: transparent;
    -fx-stroke: -fx-header;
    -fx-stroke-width: 1px;
}
.header-button-text {
    -fx-font-size: 10px;
    -fx-fill: -fx-header;
    -fx-align-items: center;
    -fx-font-weight: bold;
}
.header-button:hover,
.icon-button:hover {
    -fx-opacity: 0.6;
}
.icon-button {
    -fx-background-position: center;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}
.icon-button-color {
    -fx-fill: -fx-header;
}
.icon-button-error {
    -fx-fill: -fx-red;
}

/*-- Информация игрока --*/
#money {
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-text-fill: -fx-black2C;
}
#avatar {
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-font-smoothing-type: lcd;
}

/*-- Заголовки --*/
#dialogHeader,
#headerDescription {
    -fx-fill: -fx-black2C;
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/*-- Блок вывода --*/


/*-- Кнопка отправить --*/
.send-button-text {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-align: center;
    -fx-fill: -fx-header;
}
.send-button-text:hover,
.send-button-text:pressed {
    -fx-fill: -fx-header-hover;
}

/*-- Контекстное меню --*/
.context-menu {
    -fx-background-color: -fx-whiteG;
    -fx-background-insets: 0;
    -fx-padding: 5px;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 5px;
}
.menu-item {
    -fx-background-radius: 0px;
}
.menu-item:hover, .menu-item:focused {
    -fx-background-color: -fx-grayLTr;
}
.menu-item > .graphic-container {
    -fx-padding: 0em 0.333em 0em 0em;
}
.menu-item .label {
    -fx-text-fill: -fx-black2C;
}
.menu-item:focused .label {
    -fx-text-fill: -fx-black2C-hover;
    -fx-font-weight: bold;
}


/* check-box элементы */




/* Скролл панели */
#scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}
.scroll-pane .content {
    -fx-background-color: transparent;
}
.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: transparent;
}
.increment-button,
.decrement-button,
.increment-arrow,
.decrement-arrow {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-black2C-hover;
    -fx-background-radius: 10;
    -fx-padding: 10 0 0 0px;
    -fx-background-insets: 0, 0, 0, 10;
}
.scroll-bar {
    -fx-font-size: 6px;
}
.scroll-pane > .corner {
    -fx-background-color: transparent;
}


/* choice-box элементы */
.choice-box .context-menu {
    -fx-background-color: -fx-whiteG;
    -fx-pref-width: 130px;
}
.choice-box .menu-item:focused {
    -fx-background-color: -fx-violet;
}
.choice-box .menu-item > .label {
    -fx-text-fill: #FFFFFF;
}
.choice-box .menu-item:focused>.label {
    -fx-text-fill: -fx-white;
}
.choice-box {
    -fx-background-color: -fx-whiteG;
    -fx-mark-color: -fx-whiteG;
}
.choice-box > .label {
    -fx-text-fill: -fx-whiteG;
}

/* combo-box элементы */



/*-- DrLeonardo styles refactor --*/
