/*-- DrLeonardo styles refactor --*/
@import "./variables.css";

/*-- Подключение шрифтов --*/
@font-face {
    font-family: 'Open Sans';
    src: url('./OpenSans-Regular.ttf');
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('./OpenSans-Bold.ttf');
}
@font-face {
    font-family: 'Open Sans Italic';
    src: url('./OpenSans-Italic.ttf');
}
@font-face {
    font-family: 'Open Sans Light';
    src: url('./OpenSans-Light.ttf');
}
@font-face {
    font-family: 'Open Sans BoldItalic';
    src: url('./OpenSans-BoldItalic.ttf');
}

Button,
CheckBox,
ComboBox,
RadioButton {
    -fx-cursor: hand;
}

/*-- Шрифты --*/
.root {
    -fx-font-family: "Open Sans";
}

/*-- Вид блоков --*/
.blocks {
    -fx-padding: 10px;
    -fx-background-color: -fx-white;
    -fx-background-radius: 0;
}

/*-- Скругление блоков и кнопок --*/
.b-5 {
    -fx-border-radius: 5px;
}
.b-10 {
    -fx-border-radius: 10px;
}
.b-20 {
    -fx-border-radius: 20px;
}

/*-- Управление прозрачностью --*/
.transparent {
    -fx-background-color: transparent;
    -fx-background-size: cover;
}

/*-- Импорт фона --*/
#layout {
    -fx-background-image: url('../images/background.png');
    -fx-background-size: cover;
}
.blur {
    -fx-background-image: url('../images/background-blur.png') !important;
    -fx-background-size: cover;
}

/* (тех. Кнопки) */
.invisible{
    -fx-opacity: 0;
}
.visible{
    -fx-opacity: 1;
}

/*-- Иконки --*/
.header-button {
    -fx-fill: transparent;
    -fx-stroke: -fx-header;
    -fx-stroke-width: 1px;
}
.header-button-text {
    -fx-font-size: 10px;
    -fx-fill: -fx-header;
    -fx-align-items: center;
    -fx-font-weight: bold;
}
.header-button:hover,
.icon-button:hover {
    -fx-opacity: 0.6;
}
.icon-button {
    -fx-background-position: center;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}
.icon-button-color {
    -fx-fill: -fx-header;
}
.icon-button-error {
    -fx-fill: -fx-red;
}

/*-- Информация игрока --*/
#nickname {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-fill: -fx-black2C;
}
#money {
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-text-fill: -fx-black2C;
}
#avatar {
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-font-smoothing-type: lcd;
}

/*-- Заголовки --*/
#dialogHeader,
#headingUpdate,
#headingDialog,
#headerDescription {
    -fx-fill: -fx-black2C;
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/*-- Блок вывода --*/
#output-detail {
    -fx-background-color: -fx-grayTr;
    -fx-background-radius: 20px;
}

/* Вывод лога */
#output-detail > #output {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 10px;
    -fx-font-size: 12px;
    -fx-text-color: -fx-black2C;
}
#output-detail > #output .content,
#output-detail > #output .content {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

/*-- Кнопка отправить --*/
.send-button-text {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-align: center;
    -fx-fill: -fx-header;
}
.send-button-text:hover,
.send-button-text:pressed {
    -fx-fill: -fx-header-hover;
}

/*-- Контекстное меню --*/
.context-menu {
    -fx-background-color: -fx-whiteG;
    -fx-background-insets: 0;
    -fx-padding: 5px;
    -fx-text-fill: -fx-black2C;
    -fx-background-radius: 5px;
}
.menu-item {
    -fx-background-radius: 0px;
}
.menu-item:hover, .menu-item:focused {
    -fx-background-color: -fx-grayLTr;
}
.menu-item > .graphic-container {
    -fx-padding: 0em 0.333em 0em 0em;
}
.menu-item .label {
    -fx-text-fill: -fx-black2C;
}
.menu-item:focused .label {
    -fx-text-fill: -fx-black2C-hover;
    -fx-font-weight: bold;
}


/* check-box элементы */
.check-box {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-black2C;
    -fx-background-image: url('../images/icons/checkbox_off.png');
    -fx-background-repeat: no-repeat;
    -fx-label-padding: 0 0 0 10px;
    -fx-font-size: 14px;
    -fx-text-align: left;
}
.check-box .mark {
    -fx-background-color: transparent;
}
.check-box .box {
    -fx-background-color: transparent;
}
.check-box:selected {
    -fx-background-color: transparent;
    -fx-background-image: url('../images/icons/checkbox_on.png');
    -fx-background-repeat: no-repeat;
}
.check-box:selected .mark {
    -fx-background-color: transparent;
}
.check-box:selected .box {
    -fx-background-color: transparent;
}


/* Скролл панели */
#scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane .viewport {
    -fx-background-color: transparent;
}
.scroll-pane .content {
    -fx-background-color: transparent;
}
.scroll-bar:horizontal,
.scroll-bar:vertical {
    -fx-background-color: transparent;
}
.increment-button,
.decrement-button,
.increment-arrow,
.decrement-arrow {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-black2C-hover;
    -fx-background-radius: 10;
    -fx-padding: 10 0 0 0px;
    -fx-background-insets: 0, 0, 0, 10;
}
.scroll-bar {
    -fx-font-size: 6px;
}
.scroll-pane > .corner {
    -fx-background-color: transparent;
}


/* choice-box элементы */
.choice-box .context-menu {
    -fx-background-color: -fx-whiteG;
    -fx-pref-width: 130px;
}
.choice-box .menu-item:focused {
    -fx-background-color: -fx-violet;
}
.choice-box .menu-item > .label {
    -fx-text-fill: -fx-black2C;
}
.choice-box .menu-item:focused>.label {
    -fx-text-fill: -fx-white;
}
.choice-box {
    -fx-background-color: -fx-whiteG;
    -fx-mark-color: -fx-whiteG;
}
.choice-box > .label {
    -fx-text-fill: -fx-whiteG;
}

/* combo-box элементы */
.combo-box {
    -fx-background-color: -fx-grayLDTr;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5;
    -fx-text-fill: -fx-black2C;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
.combo-box .list-cell {
    -fx-text-fill: -fx-black2C;
}
.combo-box-popup .list-view{
    -fx-background-color: -fx-gray;
}
.combo-box-popup .list-view .list-cell{
    -fx-text-fill: -fx-black2C;
    -fx-padding: 5;
    -fx-background-color: -fx-gray;
}
.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover{
    -fx-background-color: -fx-grayTr;
    -fx-text-fill: -fx-black2C-hover;
    -fx-font-weight: bold;
}
.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: -fx-grayTr;
    -fx-text-fill: -fx-black2C-hover;
}
.combo-box-popup .list-cell {
    -fx-background-color: -fx-whiteG;
    -fx-text-fill: -fx-black2C;
}
.combo-box .arrow{
    -fx-background-color: -fx-black2C;
}

/*-- DrLeonardo styles refactor --*/
