/*-- DrLeonardo styles refactor --*/
/*-- Var library colors --*/
* {
    -fx-green: #48D792;
    -fx-green-hover: #48D792;
    -fx-greenTr: rgba(34, 234, 181, 0.12);
    -fx-black: #000000;
    -fx-black2C: #2C2C2C;
    -fx-black2C-hover: #626262;
    -fx-blackCE: #CECECE;
    -fx-blackCE-hover: #CECECE;
    -fx-white: #FFFFFF;
    -fx-whiteG: #FAFAFF;
    -fx-glass: rgba(205, 205, 205, 0.22);
    -fx-glass-hover: rgba(178, 178, 178, 0.28);
    -fx-grayD: #94A1A8;
    -fx-grayA: #A4B3BA;
    -fx-grayATr: rgba(164, 179, 186, 0.24);
    -fx-bg2: #FAFAFF;
    -fx-red: #FF6F80;
    -fx-red-hover: #FF6F80;
    -fx-redTr: rgba(255, 111, 128, 0.22);
    -fx-gray: #F2F2F2;
    -fx-violet: #6B36FF;
    -fx-violet-hover: linear-gradient(to bottom right, #8D4CE0 0%, #5711FA 100%);
    -fx-violetTr: rgba(107, 54, 255, 0.18);
    -fx-header: #A4B3BA;
    -fx-header-hover: #D0D6D9;
    -fx-violetGR: linear-gradient(#8D4CE0 10.39%, #5D35B9 68.07%, #FAFAFF 68.07%);
    -fx-ramGR: linear-gradient(from 50% 50% to 100% 100%, -fx-green, -fx-violet);
    -fx-updateGR: linear-gradient(from 20% 20% to 100% 100%, -fx-violet, #5D35B9);
    -fx-errorGR: linear-gradient(from 20% 20% to 100% 100%, #8D4CE0, #B93639);
}
/*-- DrLeonardo styles refactor --*/