/*-- DrLeonardo styles refactor --*/
/*-- Var library colors --*/
* {
    -fx-green: #22EAB5;
    -fx-green-hover: #22EAB5;
    -fx-greenTr: rgba(34, 234, 181, 0.12);
    -fx-black: #000000;
    -fx-black2C: #2C2C2C;
    -fx-black2C-hover: #626262;
    -fx-white: #FFFFFF;
    -fx-whiteG: #FAFAFF;
    -fx-grayTr: rgba(205, 205, 205, 0.22);
    -fx-grayTr-hover: rgba(178, 178, 178, 0.28);
    -fx-grayDTr: rgba(53, 53, 53, 0.38);
    -fx-grayLTr: rgba(182, 182, 182, 0.12);
    -fx-grayLDTr: rgba(120, 120, 120, 0.16);
    -fx-grayD: #5E5E5E;
    -fx-red: #FF6F80;
    -fx-red-hover: #FF6F80;
    -fx-redTr: rgba(255, 111, 128, 0.22);
    -fx-gray: #F2F2F2;
    -fx-violet: #6B36FF;
    -fx-violet-hover: linear-gradient(to bottom right, #8D4CE0 0%, #5711FA 100%);
    -fx-header: #A4B3BA;
    -fx-header-hover: #D0D6D9;
    -fx-violetGR: linear-gradient(#8D4CE0 10.39%, #5D35B9 68.07%, #FAFAFF 68.07%);
    -fx-ramGR: linear-gradient(from 50% 50% to 100% 100%, -fx-green, -fx-violet);
    -fx-updateGR: linear-gradient(from 20% 20% to 100% 100%, -fx-violet, #5D35B9);
    -fx-errorGR: linear-gradient(from 20% 20% to 100% 100%, #8D4CE0, #B93639);
}
/*-- DrLeonardo styles refactor --*/