
/*-- Var library colors --*/
* {
    -fx-green: #48D792;
    -fx-green-hover: #48D792;
    -fx-greenTr: rgba(34, 234, 181, 0.12);
    -fx-colors-text: #2C2C2C;
    -fx-colors-text-hover: #626262;
    -fx-colors-unactive: #CECECE;
    -fx-colors-unactive-hover: #CECECE;
    -fx-colors-base: #FFFFFF;
    -fx-colors-baseG: #FAFAFF;
    -fx-colors-baseGA: rgba(250, 250, 255, 0.5);
    -fx-glass: rgba(205, 205, 205, 0.22);
    -fx-glass-hover: rgba(178, 178, 178, 0.28);
    -fx-colors-text-secondary: #94A1A8;
    -fx-bg2: #FAFAFF;
    -fx-red: #DB4D4D;
    -fx-red-hover: #BA2E35;
    -fx-gray: #F2F2F2;
    -fx-violet: #6B36FF;
    -fx-violet-hover: linear-gradient(to bottom right, #8D4CE0 0%, #5711FA 100%);
    -fx-violet-hover2: rgba(210, 208, 225, 0.66);
    -fx-violetTr: rgba(107, 54, 255, 0.18);
    -fx-header: #A4B3BA;
    -fx-header-hover: #D0D6D9;
    -fx-scene-card: rgba(250, 250, 255, 0.50);
    -fx-violetGR: linear-gradient(#8D4CE0 10.39%, #5D35B9 68.07%, #FAFAFF 68.07%);
    -fx-ramGR: linear-gradient(from 50% 50% to 100% 100%, -fx-green, -fx-violet);
    -fx-updateGR: linear-gradient(from 20% 20% to 100% 100%, -fx-violet, #5D35B9);
    -fx-errorGR: linear-gradient(from 20% 20% to 100% 100%, #8D4CE0, #B93639);
    -fx-effect-dropshadow: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 30, 0, 0, 0);
}
