/*-- DrLeonardo Design for GravitLauncher --*/

#optionsBackground {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url('../../images/servermenu.png');
}

#optionsPane {
    -fx-background-color: transparent;
}

.optionsContainer {
    -fx-background-color: transparent;
}

#optionsPane>#modlist {
    -fx-background-color: transparent;
}

#optionsPane>#modlist>.viewport {
    -fx-background-color: transparent;
}

.optionsDescription {
    -fx-fill: #323232;
    -fx-font-size: 12px;
    -fx-padding : 0 0 0 10px;
}

.optionsCheckbox {
    -fx-label-padding: 0 0 0 5px;
    -fx-padding : 3 0 0 0px;
}

#headingOptional {
-fx-font-family: Roboto;
-fx-font-style: normal;
-fx-font-weight: bold;
-fx-font-size: 18px;
-fx-line-height: 21px;
-fx-letter-spacing: 0.25px;
-fx-text-indent: 60px;
-fx-fill: #2C2C2C;
}
/*-- DrLeonardo Design for GravitLauncher --*/
