/*-- DrLeonardo Design for GravitLauncher --*/
#debugBackground {
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-background-image: url('../../images/servermenu.png');
}

#debugPane {
    -fx-background-color: transparent;
}

#headingDebug {
    -fx-fill: #323232;
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
}

/* Outputs */
#output {
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 0;
    -fx-font-family: monospace;
    -fx-font-size: 8pt;
}

#output .content,
#output .content {
    -fx-background-color: #FAFAFA;
    -fx-background-radius: 0;
}

#kill, #copy, #hastebin {
    -fx-background-radius: 0;
    -fx-pref-width: 50px;
    -fx-pref-height: 50px;
    -fx-background-color: transparent;
    -fx-background-size: cover;
    -fx-font-size: 13pt;
}

#copy:hover,
#copy:pressed,
#hastebin:hover,
#hastebin:pressed,
#kill:hover,
#kill:pressed {
    -fx-background-color: rgba(254, 254, 255, 0.1);
}
/*-- DrLeonardo Design for GravitLauncher --*/