/* 
FluffyCuteOwO#6745 - DarkenGravitLauncherRuntime
*/

@import "../styles/global.css";
@import "../styles/variables.css";

#dialog{
    -fx-background-color: #1C1E20;
    -fx-border-color: #282828;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

#headingDialog{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Manrope Bold";
    -fx-font-size: 14px;
}

#textDialog, #dialogDescription {
    -fx-font-size: 12px;
    -fx-text-align: left;
    -fx-font-family: "Manrope Regular";
    -fx-text-fill: rgba(255,255,255,0.5);
}

#apply, #deny{
    -fx-background-color: #1C1E20;
    -fx-background-radius: 4px;
    -fx-border-color: #282828;
    -fx-border-radius: 4px;
}
#apply:hover, #deny:hover{
    -fx-background-color: #222222;
}

#text{
    -fx-font-size: 12px;
    -fx-font-family: "SF Pro Display Medium";
    -fx-fill: #FFFFFF;
}