/*-- Блок диалога --*/
.dialog {
    -fx-background-color: -fx-white;
    -fx-border-color: -fx-white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 30, 0.1, 0.0, 0.0);
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}
#textDialog {
    -fx-background-color: -fx-bg2;
    -fx-background-radius: 10px;
    -fx-font-size: 12px;
    -fx-padding: 10px 15px 10px 15px;
}
#headingDialog {
    -fx-font-weight: 800;
    -fx-font-size: 16px;
}
/*-- Текст диалога --*/
.dialog-button {
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}
.dialog-apply-button {
    -fx-border-color: -fx-grayA;
    -fx-text-fill: -fx-grayA;
}
.dialog-apply-button:hover {
    -fx-background-color: -fx-grayA;
    -fx-text-fill: -fx-white;
}
.dialog-deny-button {
    -fx-border-color: -fx-red;
    -fx-text-fill: -fx-red;
}
.dialog-deny-button:hover {
    -fx-background-color: -fx-red;
    -fx-text-fill: -fx-white;
}
/*-- DrLeonardo styles refactor --*/
