/* 
FluffyCuteOwO#6745 - DarkenGravitLauncherRuntime
*/

@import "../styles/global.css";
@import "../styles/variables.css";

#serverButtonLayout{
    -fx-background-color: #202020;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #282828;
}

#serverButtonImage{
    -fx-background-image: url('../images/servers/floppa.png');
    -fx-background-size: cover;
    -fx-border-radius: 8 8 0 0;
    -fx-border-color: #282828;
}

#nameServer{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Manrope Bold';
    -fx-font-size: 18px;
}

#genreServer{
    -fx-text-fill: rgba(255,255,255,0.5);
    -fx-font-family: 'Manrope Bold';
    -fx-font-size: 10px;
}

#notificationPane{
    -fx-background-color: #202020;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #282828;
}

#notificationHeading{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Manrope Bold';
    -fx-font-size: 18px;
}

#notificationText{
    -fx-text-fill: rgba(255,255,255,0.5);
    -fx-font-family: 'Manrope Bold';
    -fx-font-size: 10px;
}