/*-- DrLeonardo styles refactor --*/

@import "../styles/global.css";
@import "../styles/variables.css";

/*-- Уведомления --*/
.text-font-head {
    -fx-text-fill: -fx-black2C;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.text-font-desc {
    -fx-text-fill: -fx-black2C;
    -fx-font-size: 10px;
}
#notificationPane {
    -fx-background-radius: 10px 0px 0px 10px;
}

/*-- Блок сервера --*/
.serverButtons {
    -fx-background-color: -fx-grayTr;
    -fx-background-radius: 20px;
}
#serverButton {
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}
#serverButton:hover {
    -fx-background-color: -fx-grayTr-hover;
}
#serverButtonSelected,
#serverButtonPressed {
    -fx-background-color: -fx-grayTr-hover;
}
.serverButtonsActive {
    -fx-background-color: -fx-grayTr-hover;
}
#serverLogo {
    -fx-background-position: center;
}


/*-- Информация о сервере --*/
#nameServer {
    -fx-fill: -fx-black2C;
    -fx-font-size: 20px;
    -fx-wrap-text: false;
    -fx-font-weight: bold;
}
#nameServer:hover {
    -fx-fill: -fx-black2C-hover;
}
#genreServer {
    -fx-fill: -fx-black2C;
    -fx-font-size: 12px;
}


/*-- Индикатор онлайна --*/
#block-online {
    -fx-background-color: -fx-green;
    -fx-background-radius: 5px;
}
#online {
    -fx-text-fill: -fx-white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}


/*-- Кнопка сохранить (для всех сцен) --*/
#save {
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-text-align: center;
    -fx-text-fill: -fx-white;
    -fx-background-color: -fx-violet;
    -fx-background-radius: 10px;
}
#save:hover {
    -fx-background-color: -fx-violet-hover;
}
#reset {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-text-align: center;
    -fx-text-fill: -fx-white;
    -fx-background-color: -fx-red;
    -fx-background-radius: 5px;
}
#reset:hover {
    -fx-background-color: -fx-red-hover;
}
/*-- DrLeonardo styles refactor --*/
