/*-- DrLeonardo Design for GravitLauncher --*/


.dialogText {
    -fx-font-family: Open Sans;
    -fx-font-size: 12px;
    -fx-font-style: normal;
    -fx-font-weight: 400;
    -fx-line-height: 16px;
    -fx-letter-spacing: 0.25px;
    -fx-text-align: left;
}
.dialogHeader {
    -fx-font-family: Open Sans;
    -fx-font-size: 14px;
    -fx-font-style: normal;
    -fx-font-weight: 700;
    -fx-line-height: 19px;
    -fx-letter-spacing: 0.25px;
    -fx-text-align: center;
}

.dialogButton {
    -fx-font-family: Open Sans;
    -fx-font-style: normal;
    -fx-font-weight: bold;
    -fx-font-size: 3px;
    -fx-line-height: 11px;
    -fx-align-items: center;
    -fx-text-align: center;
    -fx-letter-spacing: 0.25px;
    -fx-text-fill: #A4B3BA;
    -fx-background-radius: 3px, 1px, 2px, 1px;
    -fx-background-color: transparent;
    -fx-font-size:8px;
}


.dialogRedButton {
    -fx-background-color: transparent;
    -fx-text-fill: #FF6F80;
    -fx-font-size:8px;
}


#dialogBackground {
    -fx-background-color: transparent;
}


#notificationPane {
   -fx-border-radius: 10px;
    -fx-padding: 10;
-fx-border-color: white;
-fx-background-color:#fff;
-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.1, 0.0, 0.0);
}

#serverButtonSelected,
#serverButtonPressed {
    -fx-background-color: rgba(243, 243, 243, 0.1);
}

.serverButtons {
    -fx-background-color: transparent;
}

.serverButtonsActive {
    -fx-background-color: rgba(5, 5, 5, 0.1);
}
.imageserver{
    backgroound-image:url('../images/servers/minecraft-rtx-world-conversion-ogimage.jpg');
}
#online {
    -fx-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#serverLogo {
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-background-image: url('../images/preloader/logo.png');
}

#nameServer {
    -fx-fill: #2C2C2C;
    -fx-text-fill: #2C2C2C;
    -fx-font-size: 20px;
    -fx-wrap-text: false;
    -fx-font-weight: bold;
}

#nameServer:hover {
    -fx-fill: #7C4DFF;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-wrap-text: false;
}

#genreServer {
    -fx-fill: #000000;
    -fx-font-size: 12px;
}

#notificationHeading {
    -fx-fill: #323232;
    -fx-font-weight: bold;
    -fx-font-size: 12pt;
}

#notificationText {
    -fx-fill: #5F5F5F;
    -fx-font-size: 10pt;
}

.dialogInput {
    -fx-background-color: #eee;
}

#dialogPane,
#dialogApplyPane,
#dialogTextInput {
    -fx-background-color: #fff;
    -fx-border-color: #fff;
    

    -fx-border-radius:10px;
    -fx-background-radius:10px;
}

#forgot2fa {
    -fx-font-size: 8pt;
    -fx-text-fill: #A9A9A9;
}

#line {
    -fx-stroke: #C7C7C7;
}


/*Icons*/

#icoApply {
    -fx-fill: #fff;
    -fx-font-size: 23pt;
}

#icoDeny {
    -fx-fill: #fff;
    -fx-font-size: 23pt;
}

#applyComponents {
    -fx-background-radius: 0;
    -fx-fill: #7C4DFF;
    -fx-background-color: transparent;
    -fx-font-size: 13pt;
}

#denyComponents {
    -fx-background-radius: 0;
    -fx-fill: #A23131;
    -fx-background-color: transparent;
    -fx-font-size: 13pt;
}

#applyComponents:hover,
#applyComponents:pressed {
    -fx-background-color: #6B36FF;
    -fx-fill: #fff;
}

#denyComponents:hover,
#denyComponents:pressed {
    -fx-background-color: #AB2727;
    -fx-fill: #fff;
}


/*-- DrLeonardo Design for GravitLauncher --*/